name: build 

on:
  push:
    branches:
      - '**'
    tag-ignore:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Setup
      run: make setup

    - name: Verify Go Formatting
      run: |
        make fmt
        git diff --exit-code

    - name: Lint
      run: make lint

    - name: Depcheck
      run: make depcheck

    - name: Test
      run: make test

    - name: Test Coverage Check
      run: make test-coverage

    - name: Upload Coverage Report
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: coverage-report-ut-it
        path: public/coverage/ut-it

    - name: Build
      run: make build

  deploy_public:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Download coverage reports
        uses: actions/download-artifact@v7
        with:
          name: coverage-report-ut-it
          path: public/coverage/ut-it

      - name: Deploy to gh-pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          enable_jekyll: true
