name: build 

on:
  push:
    branches:
      - '**'
    tag-ignore:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Setup
      run: make setup

    - name: Verify Go Formatting
      run: |
        make fmt
        git diff --exit-code

    - name: Lint
      run: make lint

    - name: Lint with golangci-lint
      run: make lint-all

    - name: Test
      run: make test

    - name: Test Integration
      run: make test-integration

    - name: Test Coverage Check
      run: make test-coverage-check

    - name: Upload Coverage Report
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: coverage-report
        path: |
          coverage.out
          coverage.html

    - name: Build
      run: make build
